		{{ partial "head.html" . }}
		<body>
			{{ partial "nav.html" . }}
				{{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) }}
				<img src="{{ .Site.BaseURL }}/img/{{ .Params.featureimage }}" style="width: 100%; height: auto; background-size: cover;"/>
        {{ end }}
			<div class="content">
				<article>
					<header>
						<h1 class="title">{{ .Title }}</h1>
					</header>

				<section class="post-content">
					{{ .Content }}

				<hr>

				{{ template "_internal/disqus.html" . }}
				</section>

			</article>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
