	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}


				<img src="{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}" style="width: 100%; height: auto; background-size: cover;"/>
		<div class="content">
			<div class="home">
				<article>
					<header>
						<h1 class="title">Bridget Maddison CBT</h1>
					</header>
				<section class="post-content">
<p>
<strong>In today's modern world with life's many competing pressures and unwanted
changes, it's not unusual to feel worn down, overwhelmed, stressed, and
worried. You may feel like you are just existing, caught up in self defeating
behaviours or avoidance, struggling to get out of your head and on with your
life. I believe I can help.</strong>
</p>

<img src="{{ .Site.BaseURL }}/img/bmaddisoncbt2.jpg" style="width: 30%; height: auto; display: block; margin: 0 auto;" />

<p>
I am an experienced and <strong>Accredited (BABCP) Cognitive Behavioural
  Psychotherapist, I am also a Registered Mental Health Nurse</strong>. I have been
privileged to work with many people, empowering them to gain the skills and
strategies required to work through their problems. I work from the Centre for 
Wellbeing in Malvern, Worcestershire. I offer clinics on three mornings a 
week: Friday, Saturday, and Monday from 9am-1pm.
</p>
<p>
The Centre for Wellbeing<br />
52 St Andrew's Road<br />
Malvern<br />
WR14 3PP
</p>

<a href="http://centreforwellbeing.co.uk/"><img src="{{ .Site.BaseURL }}/img/cwellbeing.png" style="width: auto; height: auto; margin: 20px; 20px;" /></a>

<p>
<strong>
I hope you will take the time to have a look through my website, to find out 
more about Cognitive Behavioural Therapy and me. If you feel this approach 
might be for you, please <a href="{{ .Site.BaseURL }}contact">contact me</a> and take that first step towards us 
working together to get your life back on track.
</strong>
</p>
<p>
I also regularly share interesting links related to mindfulness, CBT, and 
wellbeing on my <a 
href="https://www.facebook.com/bridgetmaddisoncbt/">Facebook page</a>.

				</section>

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbridgetmaddisoncbt&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


			</article>


				{{ partial "footer.html" . }}

			</div>
		</div>
	</body>
</html>
