	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}


				<img src="{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}" style="width: 100%; height: auto; background-size: cover;"/>
		<div class="content">
			<div class="home">
				<article>
					<header>
						<h1 class="title">Bridget Maddison CBT</h1>
					</header>
				<section class="post-content">

<img src="{{ .Site.BaseURL }}/img/bmaddisoncbt4.jpg" style="width: 35%; height: auto; display: block; margin: 0 auto;" />

<p>
<strong>Online and face to face appointments</strong><br/>
<p>
<strong>NOTE: I am no longer taking on new clients as I am retiring from my Clinical Practice at the end of November. I have some capacity to offer appointments to Clients I have worked with in the past for 'booster' sessions, please email or go through my <a href="{{ .Site.BaseURL }}contact">contact page</a> to discuss.
</strong>
</p>

<p>
<strong>More about me</strong></br>
I am an experienced and <strong>Accredited (BABCP) Cognitive Behavioural
  Psychotherapist and a Registered Mental Health Nurse</strong>. I have been
privileged to work with many people, empowering them to gain the skills and
strategies required to work through their problems. I specialise in
Third Wave CBT, particularly Acceptance and Commitment Therapy - a
form of CBT that uses Values, Self-Compassion and Mindfulness skills
to build a better life. I also work within the Compassion Focused Therapy
Model.
</p>


				</section>

			</article>


				{{ partial "footer.html" . }}

			</div>
		</div>
	</body>
</html>
