	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}


				<img src="{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}" style="width: 100%; height: auto; background-size: cover;"/>
		<div class="content">
			<div class="home">
				<article>
					<header>
						<h1 class="title">Bridget Maddison CBT</h1>
					</header>
				<section class="post-content">
<p>
<strong>In today's modern world with life's many competing pressures and unwanted
changes, it's not unusual to feel worn down, overwhelmed, stressed, and
worried. You may feel like you are just existing, caught up in self defeating
behaviours or avoidance, struggling to get out of your head and on with your
life. I believe I can help.</strong>
</p>

<img src="{{ .Site.BaseURL }}/img/bmaddisoncbt2.jpg" style="width: 30%; height: auto; display: block; margin: 0 auto;" />

<p>
I am an experienced and <strong>Accredited (BABCP) Cognitive Behavioural
  Psychotherapist and a Registered Mental Health Nurse</strong>. I have been
privileged to work with many people, empowering them to gain the skills and
strategies required to work through their problems. I specialise in
Third Wave CBT, particularly Acceptance and Commitment Therapy - a
form of CBT that uses Values, Self-Compassion and Mindfulness skills
to build a better life. I also work within the Compassion Focused Therapy
Model. From 2019 I will work from the Beacon Clinic
in Malvern, Worcestershire. I offer clinics on three mornings a 
week: <strong>Tuesday</strong>, <strong>Friday</strong>, and <strong>Saturday (9am-1pm)</strong> as well as a <strong>Wednesday afternoon (2pm-5.30pm)</strong>.
</p>
<p>
<strong>Beacon Clinic<br />
Portland Road<br />
Great Malvern<br />
WR14 2TA</strong>
</p>

<p>
<a href="http://beaconclinic.net/"><img src="{{ .Site.BaseURL }}/img/bcn_logo_scaled.png" style="width: auto; height: auto; margin: 20px; 20px;" /></a>
</p>
<p>
<a href="http://beaconclinic.net/"><img src="{{ .Site.BaseURL }}/img/beacon_front.jpg" style="width: 250px; height: auto; margin: 20px; 20px;" /></a>
</p>

<p>
<strong>
I hope you will take the time to have a look through my website, to find out 
more about Cognitive Behavioural Therapy and me. If you feel this approach 
might be for you, please <a href="{{ .Site.BaseURL }}contact">contact me</a> and take that first step towards us 
working together to get your life back on track.
</strong>
</p>
<p>
I also regularly share interesting links related to mindfulness, CBT, and 
wellbeing on my <a 
href="https://www.facebook.com/bridgetmaddisoncbt/">Facebook page</a>.

				</section>

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbridgetmaddisoncbt&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


			</article>


				{{ partial "footer.html" . }}

			</div>
		</div>
	</body>
</html>
